* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #fff;
}

.left {
    width: 25vw;
    border: 1px solid #fff;
    padding: 20px;
}

.right {
    width: 75vw;
    border: 1px solid #fff;
    padding: 20px;
}

.home ul li {
    list-style: none;
    display: flex;
    gap: 15px;
    width: 20px;
    height: 20px;
    padding-top: 10px;
}

.heading {
    display: flex;
    gap: 15px;
    padding-top: 10px;
}

.heading img {
    width: 20px;
    height: 20px;
}

.library h2 {
    font-size: 12px;
}

.footer a {
    font-size: 11px;
    text-decoration: none;
    color: gray;
}

.footer-list-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    position: absolute;
    bottom: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav {
    display: flex;
    align-items: center;
}

.signup {
    background-color: #fff;
    color: #000;
    border-radius: 18px;
    font-size: inherit;
    padding: 8px 32px;
    border: none;
}

.login {
    background-color: #121212;
    color: #fff;
    border-radius: 18px;
    font-size: inherit;
    padding: 8px 32px;
    border: none;
}

.card {
    width: 250px;
    border: 1px solid #ffffff73;
    border-radius: 15px;
    padding: 10px;
    background: #121212;
    position: relative;
}

.card img {
    width: 100%;
    object-fit: cover;
}

.card > * {
    padding-top: 10px;
}

.cardContainer {
    margin-top: 20px;
    gap: 15px;
}

.play {
    position: absolute;
    bottom: 40px;
    right: 20px;
    padding: 10px;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    opacity: 0;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.card:hover .play {
    opacity: 1;
    bottom: 120px;
}